<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DynamicWebProjectServletExample</display-name>
  <welcome-file-list>
    <welcome-file>home.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>com.simplilearn.servlet.ServletConfigExample</servlet-name>
    <servlet-class>com.simplilearn.servlet.ServletConfigExample</servlet-class>
    <init-param>
      <param-name>UserName</param-name>
      <param-value>John</param-value>
    </init-param>
    <init-param>
      <param-name>Password</param-name>
      <param-value>john001</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>com.simplilearn.servlet.ServletContextExample</servlet-name>
    <servlet-class>com.simplilearn.servlet.ServletContextExample</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>com.simplilearn.servlet.GenericServletExample</servlet-name>
    <servlet-class>com.simplilearn.servlet.GenericServletExample</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>com.simplilearn.servlet.ServletFilterExample</servlet-name>
    <servlet-class>com.simplilearn.servlet.ServletFilterExample</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>com.simplilearn.servlet.UserAuthenticationServlet</servlet-name>
    <servlet-class>com.simplilearn.servlet.UserAuthenticationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>com.simplilearn.servlet.FirstCookieServlet</servlet-name>
    <servlet-class>com.simplilearn.servlet.FirstCookieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>com.simplilearn.servlet.SecondCookieServlet</servlet-name>
    <servlet-class>com.simplilearn.servlet.SecondCookieServlet</servlet-class>
  </servlet>
  <context-param>
    <param-name>UserName</param-name>
    <param-value>John</param-value>
  </context-param>
  <context-param>
    <param-name>Password</param-name>
    <param-value>john001</param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>com.simplilearn.servlet.ServletConfigExample</servlet-name>
    <url-pattern>/servletconfig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.simplilearn.servlet.UserAuthenticationServlet</servlet-name>
    <url-pattern>/authenticate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.simplilearn.servlet.ServletContextExample</servlet-name>
    <url-pattern>/servletcontext</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.simplilearn.servlet.GenericServletExample</servlet-name>
    <url-pattern>/process</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.simplilearn.servlet.ServletFilterExample</servlet-name>
    <url-pattern>/servletfilter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.simplilearn.servlet.FirstCookieServlet</servlet-name>
    <url-pattern>/firstcookieservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.simplilearn.servlet.SecondCookieServlet</servlet-name>
    <url-pattern>/secondcookieservlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>com.simplilearn.servlet.ServletFilter</filter-name>
    <filter-class>com.simplilearn.servlet.ServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>com.simplilearn.servlet.ServletFilter</filter-name>
    <url-pattern>/servletfilter</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>com.simplilearn.servlet.UserAuthenticationFilter</filter-name>
    <filter-class>com.simplilearn.servlet.UserAuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>com.simplilearn.servlet.UserAuthenticationFilter</filter-name>
    <url-pattern>/authenticate</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>com.simplilearn.servlet.FirstHiddenFormFieldServlet</servlet-name>
    <servlet-class>com.simplilearn.servlet.FirstHiddenFormFieldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.simplilearn.servlet.FirstHiddenFormFieldServlet</servlet-name>
    <url-pattern>/hidden1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.simplilearn.servlet.SecondHiddenFormFieldServlet</servlet-name>
    <servlet-class>com.simplilearn.servlet.SecondHiddenFormFieldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.simplilearn.servlet.SecondHiddenFormFieldServlet</servlet-name>
    <url-pattern>/hidden2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.simplilearn.servlet.FirstURLRewritingServlet</servlet-name>
    <servlet-class>com.simplilearn.servlet.FirstURLRewritingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.simplilearn.servlet.FirstURLRewritingServlet</servlet-name>
    <url-pattern>/url1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.simplilearn.servlet.SecondURLRewritingServlet</servlet-name>
    <servlet-class>com.simplilearn.servlet.SecondURLRewritingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.simplilearn.servlet.SecondURLRewritingServlet</servlet-name>
    <url-pattern>/url2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.simplilearn.servlet.FirstHttpSessionServlet</servlet-name>
    <servlet-class>com.simplilearn.servlet.FirstHttpSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.simplilearn.servlet.FirstHttpSessionServlet</servlet-name>
    <url-pattern>/httpsession1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.simplilearn.servlet.SecondHttpSessionServlet</servlet-name>
    <servlet-class>com.simplilearn.servlet.SecondHttpSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.simplilearn.servlet.SecondHttpSessionServlet</servlet-name>
    <url-pattern>/httpsession2</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>com.simplilearn.servlet.LoginServlet</servlet-name>
    <servlet-class>com.simplilearn.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.simplilearn.servlet.LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>com.simplilearn.servlet.ProfileServlet</servlet-name>
    <servlet-class>com.simplilearn.servlet.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.simplilearn.servlet.ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>com.simplilearn.servlet.LogoutServlet</servlet-name>
    <servlet-class>com.simplilearn.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.simplilearn.servlet.LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>